| Mount Partition | Purpose |
| --- | --- |
| /var/lib/dcos/mesos/master/replicated_log | Mesos Paxos replicated log |
| /var/lib/dcos/mesos/master/overlay_replicated_log | Navstar Overlay replicated log |
| /var/lib/dcos/cockroach | CockroachDB distributed database |
| /var/lib/dcos/navstar/mnesia | Navstar Mnesia distributed database |
| /var/dcos/navstar/lashup | Navstar Lashup distributed database |
| /var/lib/dcos/secrets/vault | Secrets Vault |
| /var/lib/dcos/exhibitor/zookeeper | Exhibitor Zookeeper distributed database |
| /var/lib/dcos/dcos-history | History Service cache |