- var paths = path.split('/')
- var semanticVersion = /^[0-9]\.[0-9].*$/
- var latestDocs = hierarchy.children.filter(child => child.id == dcosDocsLatest )[0]
- var headerItemsUnsorted = hierarchy.find('menus').filter(page => page.menus.indexOf('landing-header') != -1)
- var headerItems = headerItemsUnsorted.sort((a, b) => a.menuWeight - b.menuWeight)
- var sectionTitle = '[Manhattan] Docs'


mixin renderProductBlurbs()
  div(class='blurb__container')
    div(href="/dcos/1.13", class='blurb__item')
      h3(class='blurb__header') Mesosphere DC/OS
      div(class='blurb__desc__wrapper')
        p(class='blurb__desc') DC/OS is a distributed operating system based on the Apache Mesos distributed systems kernel. It lets you manage multiple machines as if they were a single computer. It automates resource management, schedules process placement, facilitates inter-process communication, and simplifies the installation and management of distributed services. Its included web interface and available command-line interface (CLI) facilitate remote management and monitoring of the cluster and its services.
      ul(class="blurb__links")
        li(class="blurb__link") Release Notes
        li(class="blurb__link") Getting Started
        li(class="blurb__link") What is DC/OS?
    div(href='/konvoy/0.1', class='blurb__item')
      h3(class='blurb__header') Konvoy
      div(class='blurb__desc__wrapper')
        p(class='blurb__desc') Konvoy DC/OS is a distributed operating system based on the Apache Mesos distributed systems kernel. It lets you manage multiple machines as if they were a single computer. It automates resource management, schedules process placement, facilitates inter-process communication, and simplifies the installation and management of distributed services. Its included web interface and available command-line interface (CLI) facilitate remote management and monitoring of the cluster and its services.
      ul(class="blurb__links")
        li(class="blurb__link") Release Notes
        li(class="blurb__link") Getting Started
        li(class="blurb__link") What is Konvoy?

doctype html
html(lang='en')
  head
    include partials/head.pug
  body(class='landing landing--dcos')
    div(class='layout')
      header(class='header' style="position: fixed;")
        a(class='header__drawer')
          i(class='header__icon', data-feather='menu')
        a(href='/', class='header__logo')
          img(src='/assets/placeholder-logo.svg', alt='Mesosphere').header__logo--mobile
          img(src='/assets/placeholder-logo.svg', alt='Mesosphere').header__logo--desktop
        div(class='header__main')
          div(class='header__dropdown')
            img(class='header__dropdown-icon', src='/assets/sm-placeholder-logo.svg', alt='Mesosphere')
            strong!= sectionTitle
            i(data-feather='chevron-down')
          nav(class='header__menu')
            ul(class='header__menu-list')
              each val, index in headerItems
                - var itemClass = {}
                - itemClass['header__menu-item'] = true
                - itemClass['header__menu-item--active'] = val.path == '/'
                li(class=itemClass)
                  a(href=val.path)!= val.title
              li(class='header__menu-item')
                a(href='https://support.mesosphere.com') Support
      include partials/header/header-dropdown.pug
      div(class='landing__main-hero')
        div(class='landing__hero-tile-container')
          a(href="/dcos/1.13", class='landing__hero-tile')
            div(class='landing__tile-logo')
            h3(class='landing__tile-title') Mesosphere DC/OS
          a(href="/konvoy/0.1", class='landing__hero-tile')
            div(class='landing__tile-logo')
            h3(class='landing__tile-title') Konvoy


      div(class='landing__container')
        +renderProductBlurbs()
        div(class='landing__external')
          div(class='landing__external-item')
            i(data-feather='book', class='landing__external-icon')
            h3(class='landing__external-title')
              a(class='landing__external-link', href='https://mesosphere.com/training/') Get DC/OS Training
            p(class='landing__external-description') Learn to use and administer DC/OS in real-time training courses, in person or online, offered by Mesosphere.
          div(class='landing__external-item')
            i(data-feather='users', class='landing__external-icon')
            h3(class='landing__external-title')
              a(class='landing__external-link', href='https://dcos.io/community/') Join the Community
            p(class='landing__external-description') Join the DC/OS community to get help via mailing list or Slack.
          div(class='landing__external-item')
            i(data-feather='slack', class='landing__external-icon')
            h3(class='landing__external-title')
              a(class='landing__external-link', href='http://chat.dcos.io/') Find us on Slack
            p(class='landing__external-description') Ask questions in the general channel and participate in day 2 ops, networking, packaging, and UX working groups.

      footer(class='landing__footer')
        div(class='landing__footer__container')
          a(class='landing__footer__logo__link', href='https://mesosphere.com/')
            img(class='landing__footer__logo', src='/assets/sm-placeholder-logo.svg')
          div(class='landing__footer__menu')
            a(href='https://mesosphere.com/terms/') Terms of Service
            a(href='https://mesosphere.com/privacy/') Privacy Policy
          a(class='landing__footer__copyright', href='https://mesosphere.com/')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug
