- var semanticVersion = /^[0-9]+\.[0-9]+/
- var menuPages = hierarchy.find('menus')
- var headerPages = menuPages.filter(page => page.menus.indexOf('landing-header') != -1)
- var servicePages = menuPages.filter(page => page.menus.indexOf('header') != -1)
- var allPages = headerPages.concat(servicePages)
- var pages = allPages.sort((a, b) => a.menuWeight - b.menuWeight)

- function isItemActive(itemPath)
  if itemPath == '/dcos'
    if path == '/dcos'
      - return true
    - return semanticVersion.test(paths[0])
  if itemPath == '/dcos/services'
    if `/${path}`.startsWith(itemPath)
      - return !`/${path}`.startsWith(`${itemPath}/kubernetes`)
    - return false
  - return `/${path}`.startsWith('/services/kubernetes')

- var sectionTitle = 'DC/OS Docs'
if paths[1] === 'services'
  - sectionTitle = 'Service Docs'


include header.pug
